<a href="https://colab.research.google.com/github/SeenaAbdul/COVID-19-Tweet-Classification-Challenge/blob/main/Covid_19_Tweet.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np
import os
import matplotlib.pyplot as plt
import seaborn as sns

# STEP 1 : Read data

In [ ]:
df_test=pd.read_csv(r"/content/drive/MyDrive/Colab Notebooks/for Practice/Test-covid tweet.csv")

In [ ]:
df_train=pd.read_csv(r"/content/drive/MyDrive/Colab Notebooks/for Practice/Train-covid tweet.csv")

In [ ]:
df_train

              ID                                               text  target
0        train_0            The bitcoin halving is cancelled due to       1
1        train_1  MercyOfAllah In good times wrapped in its gran...       0
2        train_2  266 Days No Digital India No Murder of e learn...       1
3        train_3  India is likely to run out of the remaining RN...       1
4        train_4  In these tough times the best way to grow is t...       0
...          ...                                                ...     ...
5282  train_6856  The spread of the novel among asylum seekers o...       1
5283  train_6857  Hundreds of Jewish  patients are being treated...       1
5284  train_6858  Beats me Honestly most of the people I follow ...       0
5285  train_6859  Help us reach more people by donating and shar...       0
5286  train_6860  Interest Rate Swap Derivative Pricing in Pytho...       0

[5287 rows x 3 columns]

In [ ]:
df_train['text'].unique()

array(['The bitcoin halving is cancelled due to',
       'MercyOfAllah In good times wrapped in its granular detail I challenge myself to find meaning and model the humility t',
       '266 Days No Digital India No Murder of e learning No 2g online business No Restore in J amp k',
       ...,
       'Beats me Honestly most of the people I follow are because they are sports fans and I l share their tweets with a sports message board for the sake of shits and giggles',
       'Help us reach more people by donating and sharing our Ramadan flyer To donate please send to our Keystone Bank Account 1009117904 or donate via',
       'Interest Rate Swap Derivative Pricing in Python Harbourfront Technologies'],
      dtype=object)

In [ ]:
!pip install nltk

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: nltk in /usr/local/lib/python3.10/dist-packages (3.8.1)
Requirement already satisfied: click in /usr/local/lib/python3.10/dist-packages (from nltk) (8.1.3)
Requirement already satisfied: joblib in /usr/local/lib/python3.10/dist-packages (from nltk) (1.2.0)
Requirement already satisfied: regex>=2021.8.3 in /usr/local/lib/python3.10/dist-packages (from nltk) (2022.10.31)
Requirement already satisfied: tqdm in /usr/local/lib/python3.10/dist-packages (from nltk) (4.65.0)

In [ ]:
import nltk

In [ ]:
nltk.download("wordnet")

[nltk_data] Downloading package wordnet to /root/nltk_data...

True

# STEP 2 : Preprocess text data

In [ ]:
# Tokenisation
# Lemmatisation
# Convert to lowercase
# Remove stop words
# Remove punctions
# spelling correction

In [ ]:
#Removing punctuations like . , ! $( ) * % @
#Removing URLs
#Lower casing
#Tokenization
#Removing Stop words
#Stemming
#Lemmatization

In [ ]:
from nltk.corpus import stopwords
from textblob import TextBlob
from textblob import Word

## Punction Removal Method 1

In [ ]:
import string
string.punctuation

'!"#$%&\'()*+,-./:;<=>?@[\\]^_`{|}~'

In [ ]:
df_train['text'][1]

'MercyOfAllah In good times wrapped in its granular detail I challenge myself to find meaning and model the humility t'

In [ ]:
df_train['text_clean']=df_train['text'].apply(lambda x:"".join([i for i in x if i not in string.punctuation]))
df_test['text_clean']=df_test['text'].apply(lambda x:"".join([i for i in x if i not in string.punctuation]))

In [ ]:
df_train

,ID,text,target,text_clean
0,train_0,The bitcoin halving is cancelled due to,1,The bitcoin halving is cancelled due to
1,train_1,MercyOfAllah In good times wrapped in its gran...,0,MercyOfAllah In good times wrapped in its gran...
2,train_2,266 Days No Digital India No Murder of e learn...,1,266 Days No Digital India No Murder of e learn...
3,train_3,India is likely to run out of the remaining RN...,1,India is likely to run out of the remaining RN...
4,train_4,In these tough times the best way to grow is t...,0,In these tough times the best way to grow is t...
...,...,...,...,...
5282,train_6856,The spread of the novel among asylum seekers o...,1,The spread of the novel among asylum seekers o...
5283,train_6857,Hundreds of Jewish patients are being treated...,1,Hundreds of Jewish patients are being treated...
5284,train_6858,Beats me Honestly most of the people I follow ...,0,Beats me Honestly most of the people I follow ...
5285,train_6859,Help us reach more people by donating and shar...,0,Help us reach more people by donating and shar...
5286,train_6860,Interest Rate Swap Derivative Pricing in Pytho...,0,Interest Rate Swap Derivative Pricing in Pytho...

## Punction Removal Method 2

In [ ]:
#defining the function to remove punctuation
"""
def remove_punctuation(text):
    punctuationfree="".join([i for i in text if i not in string.punctuation])
    return punctuationfree
#storing the puntuation free text
df_train['clean_msg']= df_train['text'].apply(lambda x:remove_punctuation(x))
df_train.head()

"""

'\ndef remove_punctuation(text):\n    punctuationfree="".join([i for i in text if i not in string.punctuation])\n    return punctuationfree\n#storing the puntuation free text\ndf_train[\'clean_msg\']= df_train[\'text\'].apply(lambda x:remove_punctuation(x))\ndf_train.head()\n\n'

##Lowercasing

In [ ]:
# Convert to lowercase
df_train['text_clean']=df_train['text_clean'].apply(lambda x: [words.lower() for words in x])
df_train['text_clean']=df_train['text_clean'].apply(lambda x:"".join(x))
df_train

,ID,text,target,text_clean
0,train_0,The bitcoin halving is cancelled due to,1,the bitcoin halving is cancelled due to
1,train_1,MercyOfAllah In good times wrapped in its gran...,0,mercyofallah in good times wrapped in its gran...
2,train_2,266 Days No Digital India No Murder of e learn...,1,266 days no digital india no murder of e learn...
3,train_3,India is likely to run out of the remaining RN...,1,india is likely to run out of the remaining rn...
4,train_4,In these tough times the best way to grow is t...,0,in these tough times the best way to grow is t...
...,...,...,...,...
5282,train_6856,The spread of the novel among asylum seekers o...,1,the spread of the novel among asylum seekers o...
5283,train_6857,Hundreds of Jewish patients are being treated...,1,hundreds of jewish patients are being treated...
5284,train_6858,Beats me Honestly most of the people I follow ...,0,beats me honestly most of the people i follow ...
5285,train_6859,Help us reach more people by donating and shar...,0,help us reach more people by donating and shar...
5286,train_6860,Interest Rate Swap Derivative Pricing in Pytho...,0,interest rate swap derivative pricing in pytho...

In [ ]:
# Convert to lowercase
df_test['text_clean']=df_test['text_clean'].apply(lambda x: [words.lower() for words in x])
df_test['text_clean']=df_test['text_clean'].apply(lambda x:"".join(x))
df_test

,ID,text,text_clean
0,test_2,Why is explained in the video take a look,why is explained in the video take a look
1,test_3,Ed Davey fasting for Ramadan No contest,ed davey fasting for ramadan no contest
2,test_4,Is Doja Cat good or do you just miss Nicki Minaj,is doja cat good or do you just miss nicki minaj
3,test_8,How Boris Johnson s cheery wounded in action p...,how boris johnson s cheery wounded in action p...
4,test_9,Man it s terrible Not even a reason to get on ...,man it s terrible not even a reason to get on ...
...,...,...,...
1957,test_2932,Fageeru meehaa geyga Bandah PUBLIC fundS amp G...,fageeru meehaa geyga bandah public funds amp g...
1958,test_2934,DFFN Diffusion Pharmaceuticals Announces Pre I...,dffn diffusion pharmaceuticals announces pre i...
1959,test_2936,I want to wish the Muslim members of Congress ...,i want to wish the muslim members of congress ...
1960,test_2937,You mean you don t believe there is a conspira...,you mean you don t believe there is a conspira...
1961,test_2940,Rajavi We call on the United Nations and the S...,rajavi we call on the united nations and the s...

## Tokenisation

In [ ]:
# Split into words
df_train['text_clean'] = df_train['text_clean'].apply(lambda x: x.split())
df_train

,ID,text,target,text_clean
0,train_0,The bitcoin halving is cancelled due to,1,"[the, bitcoin, halving, is, cancelled, due, to]"
1,train_1,MercyOfAllah In good times wrapped in its gran...,0,"[mercyofallah, in, good, times, wrapped, in, i..."
2,train_2,266 Days No Digital India No Murder of e learn...,1,"[266, days, no, digital, india, no, murder, of..."
3,train_3,India is likely to run out of the remaining RN...,1,"[india, is, likely, to, run, out, of, the, rem..."
4,train_4,In these tough times the best way to grow is t...,0,"[in, these, tough, times, the, best, way, to, ..."
...,...,...,...,...
5282,train_6856,The spread of the novel among asylum seekers o...,1,"[the, spread, of, the, novel, among, asylum, s..."
5283,train_6857,Hundreds of Jewish patients are being treated...,1,"[hundreds, of, jewish, patients, are, being, t..."
5284,train_6858,Beats me Honestly most of the people I follow ...,0,"[beats, me, honestly, most, of, the, people, i..."
5285,train_6859,Help us reach more people by donating and shar...,0,"[help, us, reach, more, people, by, donating, ..."
5286,train_6860,Interest Rate Swap Derivative Pricing in Pytho...,0,"[interest, rate, swap, derivative, pricing, in..."

In [ ]:
# Split into words
df_test['text_clean'] = df_test['text_clean'].apply(lambda x: x.split())
df_test

,ID,text,text_clean
0,test_2,Why is explained in the video take a look,"[why, is, explained, in, the, video, take, a, ..."
1,test_3,Ed Davey fasting for Ramadan No contest,"[ed, davey, fasting, for, ramadan, no, contest]"
2,test_4,Is Doja Cat good or do you just miss Nicki Minaj,"[is, doja, cat, good, or, do, you, just, miss,..."
3,test_8,How Boris Johnson s cheery wounded in action p...,"[how, boris, johnson, s, cheery, wounded, in, ..."
4,test_9,Man it s terrible Not even a reason to get on ...,"[man, it, s, terrible, not, even, a, reason, t..."
...,...,...,...
1957,test_2932,Fageeru meehaa geyga Bandah PUBLIC fundS amp G...,"[fageeru, meehaa, geyga, bandah, public, funds..."
1958,test_2934,DFFN Diffusion Pharmaceuticals Announces Pre I...,"[dffn, diffusion, pharmaceuticals, announces, ..."
1959,test_2936,I want to wish the Muslim members of Congress ...,"[i, want, to, wish, the, muslim, members, of, ..."
1960,test_2937,You mean you don t believe there is a conspira...,"[you, mean, you, don, t, believe, there, is, a..."
1961,test_2940,Rajavi We call on the United Nations and the S...,"[rajavi, we, call, on, the, united, nations, a..."

## Stop Words

In [ ]:
nltk.download("stopwords")

[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Unzipping corpora/stopwords.zip.

True

In [ ]:
from nltk.corpus import stopwords
stop = stopwords.words('english')
df_train['text_clean'] = df_train['text_clean'].apply(lambda x:[w for w in x if w not in stop])
# to string
#df_train['text_clean']=df_train['text_clean'].apply(lambda x:"".join(x))

In [ ]:
df_train

,ID,text,target,text_clean
0,train_0,The bitcoin halving is cancelled due to,1,"[bitcoin, halving, cancelled, due]"
1,train_1,MercyOfAllah In good times wrapped in its gran...,0,"[mercyofallah, good, times, wrapped, granular,..."
2,train_2,266 Days No Digital India No Murder of e learn...,1,"[266, days, digital, india, murder, e, learnin..."
3,train_3,India is likely to run out of the remaining RN...,1,"[india, likely, run, remaining, rna, kits, ess..."
4,train_4,In these tough times the best way to grow is t...,0,"[tough, times, best, way, grow, learn, case, t..."
...,...,...,...,...
5282,train_6856,The spread of the novel among asylum seekers o...,1,"[spread, novel, among, asylum, seekers, adds, ..."
5283,train_6857,Hundreds of Jewish patients are being treated...,1,"[hundreds, jewish, patients, treated, arab, pr..."
5284,train_6858,Beats me Honestly most of the people I follow ...,0,"[beats, honestly, people, follow, sports, fans..."
5285,train_6859,Help us reach more people by donating and shar...,0,"[help, us, reach, people, donating, sharing, r..."
5286,train_6860,Interest Rate Swap Derivative Pricing in Pytho...,0,"[interest, rate, swap, derivative, pricing, py..."

In [ ]:
df_test['text_clean'] = df_test['text_clean'].apply(lambda x:[w for w in x if w not in stop])

## Lemmatisation

In [ ]:
# Lemmatization - Method 1
df_train['text_clean']=df_train['text_clean'].apply(lambda x:[Word(words).lemmatize() for words in x])
df_train

,ID,text,target,text_clean
0,train_0,The bitcoin halving is cancelled due to,1,"[bitcoin, halving, cancelled, due]"
1,train_1,MercyOfAllah In good times wrapped in its gran...,0,"[mercyofallah, good, time, wrapped, granular, ..."
2,train_2,266 Days No Digital India No Murder of e learn...,1,"[266, day, digital, india, murder, e, learning..."
3,train_3,India is likely to run out of the remaining RN...,1,"[india, likely, run, remaining, rna, kit, esse..."
4,train_4,In these tough times the best way to grow is t...,0,"[tough, time, best, way, grow, learn, case, te..."
...,...,...,...,...
5282,train_6856,The spread of the novel among asylum seekers o...,1,"[spread, novel, among, asylum, seeker, add, pi..."
5283,train_6857,Hundreds of Jewish patients are being treated...,1,"[hundred, jewish, patient, treated, arab, prac..."
5284,train_6858,Beats me Honestly most of the people I follow ...,0,"[beat, honestly, people, follow, sport, fan, l..."
5285,train_6859,Help us reach more people by donating and shar...,0,"[help, u, reach, people, donating, sharing, ra..."
5286,train_6860,Interest Rate Swap Derivative Pricing in Pytho...,0,"[interest, rate, swap, derivative, pricing, py..."

In [ ]:
df_test['text_clean']=df_test['text_clean'].apply(lambda x:[Word(words).lemmatize() for words in x])
df_test['text_clean']=df_test['text_clean'].apply(lambda x:" ".join([words for words in x]))

In [ ]:
df_train['text_clean']=df_train['text_clean'].apply(lambda x:" ".join([words for words in x]))

In [ ]:
df_train

,ID,text,target,text_clean
0,train_0,The bitcoin halving is cancelled due to,1,bitcoin halving cancelled due
1,train_1,MercyOfAllah In good times wrapped in its gran...,0,mercyofallah good time wrapped granular detail...
2,train_2,266 Days No Digital India No Murder of e learn...,1,266 day digital india murder e learning 2g onl...
3,train_3,India is likely to run out of the remaining RN...,1,india likely run remaining rna kit essential t...
4,train_4,In these tough times the best way to grow is t...,0,tough time best way grow learn case teach help...
...,...,...,...,...
5282,train_6856,The spread of the novel among asylum seekers o...,1,spread novel among asylum seeker add pile alar...
5283,train_6857,Hundreds of Jewish patients are being treated...,1,hundred jewish patient treated arab practition...
5284,train_6858,Beats me Honestly most of the people I follow ...,0,beat honestly people follow sport fan l share ...
5285,train_6859,Help us reach more people by donating and shar...,0,help u reach people donating sharing ramadan f...
5286,train_6860,Interest Rate Swap Derivative Pricing in Pytho...,0,interest rate swap derivative pricing python h...

In [ ]:
df_test

,ID,text,text_clean
0,test_2,Why is explained in the video take a look,explained video take look
1,test_3,Ed Davey fasting for Ramadan No contest,ed davey fasting ramadan contest
2,test_4,Is Doja Cat good or do you just miss Nicki Minaj,doja cat good miss nicki minaj
3,test_8,How Boris Johnson s cheery wounded in action p...,boris johnson cheery wounded action persona ma...
4,test_9,Man it s terrible Not even a reason to get on ...,man terrible even reason get sport start back
...,...,...,...
1957,test_2932,Fageeru meehaa geyga Bandah PUBLIC fundS amp G...,fageeru meehaa geyga bandah public fund amp gs...
1958,test_2934,DFFN Diffusion Pharmaceuticals Announces Pre I...,dffn diffusion pharmaceutical announces pre in...
1959,test_2936,I want to wish the Muslim members of Congress ...,want wish muslim member congress happy ramadan
1960,test_2937,You mean you don t believe there is a conspira...,mean believe conspiracy involving 5g bill gate...
1961,test_2940,Rajavi We call on the United Nations and the S...,rajavi call united nation security council tak...

In [ ]:
# Lemmatization - Method 2
#from nltk.stem import WordNetLemmatizer

#lemmatizer = WordNetLemmatizer()
#df_train['text']=df_train['text'].apply(lambda x:[lemmatizer.lemmatize(words) for words in x])
#df_train['text']

## Text Correction

In [ ]:
'''
def correct_text(text):
    return str(TextBlob(text).correct())
df_train['text_lower'] = df_train['text_lower'].apply(correct_text)
'''

"\ndef correct_text(text):\n    return str(TextBlob(text).correct())\ndf_train['text_lower'] = df_train['text_lower'].apply(correct_text)\n"

# STEP 3: Vectorisation

In [ ]:
from sklearn.feature_extraction.text import TfidfVectorizer

In [ ]:
v = TfidfVectorizer(analyzer='word',stop_words='english')

In [ ]:
doc_vec = v.fit_transform(df_train['text_clean'])

NameError: ignored

In [ ]:
'''
df2 = pd.DataFrame(doc_vec.toarray().transpose(),
                   index=tfidf_vectorizer.get_feature_names_out(),columns=df_train.columns)
                   '''

'\ndf2 = pd.DataFrame(doc_vec.toarray().transpose(),\n                   index=tfidf_vectorizer.get_feature_names_out(),columns=df_train.columns)\n                   '

In [ ]:
doc_vec

<5287x12673 sparse matrix of type '<class 'numpy.float64'>'
	with 53428 stored elements in Compressed Sparse Row format>

In [ ]:
doc_vec_test = v.transform(df_test['text_clean'])

In [ ]:
doc_vec_test

<1962x12673 sparse matrix of type '<class 'numpy.float64'>'
	with 17064 stored elements in Compressed Sparse Row format>

# STEP 4: Classification Model creation

## Training and Validating the model

In [ ]:
from sklearn.linear_model import LogisticRegression

In [ ]:
from sklearn.model_selection import train_test_split, GridSearchCV

In [ ]:
from sklearn.metrics import accuracy_score

In [ ]:
from sklearn.metrics import classification_report,mean_squared_error

In [ ]:
x=doc_vec

In [ ]:
y=df_train["target"]

In [ ]:
## Splitting x & y variable for train and test data
x_train, x_val_test, y_train, y_val_test=train_test_split(x, y, test_size=.1, random_state=0)

In [ ]:
logR=LogisticRegression(max_iter=10000)
logR.fit(x_train,y_train)

LogisticRegression(max_iter=10000)

In [ ]:
print("Train_accuracy:", logR.score(x_train, y_train))
print("Test Val_accuracy:", logR.score(x_val_test, y_val_test))

Train_accuracy: 0.9684741488020177
Test Val_accuracy: 0.9168241965973535

## Applying on Test Data

In [ ]:
x_test=doc_vec_test

In [ ]:
logpredicted_y_train=logR.predict(x_train)

In [ ]:
logpredicted_y_test=logR.predict(x_test)

In [ ]:
import sklearn.metrics as metrics

In [ ]:
print(metrics.classification_report(logpredicted_y_train,y_train))

              precision    recall  f1-score   support

           0       0.95      0.99      0.97      2378
           1       0.99      0.95      0.97      2380

    accuracy                           0.97      4758
   macro avg       0.97      0.97      0.97      4758
weighted avg       0.97      0.97      0.97      4758

In [ ]:
metrics.confusion_matrix(logpredicted_y_train,y_train)

array([[2354,   24],
       [ 126, 2254]])

In [ ]:
rmse=np.sqrt(mean_squared_error(logpredicted_y_train,y_train))
rmse

0.17755520605710876

In [ ]:
from sklearn.metrics import roc_auc_score

In [ ]:
logpredicted_y_train1=logR.predict_proba(x_train)

In [ ]:
predicted_train=pd.DataFrame(logpredicted_y_train1,columns=["Prob for 0","Prob for 1"])

In [ ]:
predicted_train["ID"]=df_train["ID"]

In [ ]:
predicted_train

      Prob for 0  Prob for 1          ID
0       0.205601    0.794399     train_0
1       0.178699    0.821301     train_1
2       0.969181    0.030819     train_2
3       0.983647    0.016353     train_3
4       0.815251    0.184749     train_4
...          ...         ...         ...
4753    0.213530    0.786470  train_6079
4754    0.099668    0.900332  train_6080
4755    0.908941    0.091059  train_6081
4756    0.968533    0.031467  train_6083
4757    0.104938    0.895062  train_6086

[4758 rows x 3 columns]

In [ ]:
logpredicted_y_test1=logR.predict_proba(x_test)

In [ ]:
logpredicted_y_test1=np.round(logpredicted_y_test1,2)

In [ ]:
auc_score = roc_auc_score(logpredicted_y_train,y_train)

In [ ]:
auc_score

0.9684831544055804

In [ ]:
logpredicted_y_test1

array([[0.28, 0.72],
       [0.93, 0.07],
       [0.86, 0.14],
       ...,
       [0.93, 0.07],
       [0.28, 0.72],
       [0.3 , 0.7 ]])

In [ ]:
predicted_prob_test=pd.DataFrame(logpredicted_y_test1,columns=["Prob for 0","Prob for 1"])

In [ ]:
predicted_prob_test["ID"]=df_test["ID"]

In [ ]:
predicted_prob_test

      Prob for 0  Prob for 1         ID
0           0.28        0.72     test_2
1           0.93        0.07     test_3
2           0.86        0.14     test_4
3           0.21        0.79     test_8
4           0.91        0.09     test_9
...          ...         ...        ...
1957        0.28        0.72  test_2932
1958        0.28        0.72  test_2934
1959        0.93        0.07  test_2936
1960        0.28        0.72  test_2937
1961        0.30        0.70  test_2940

[1962 rows x 3 columns]

In [ ]:
result=predicted_prob_test.drop(columns="Prob for 0")

In [ ]:
result=predicted_prob_test.rename(columns={"Prob for 1":"target"})

In [ ]:
result.drop(columns="Prob for 0",inplace=True)

In [ ]:
result

      target         ID
0       0.72     test_2
1       0.07     test_3
2       0.14     test_4
3       0.79     test_8
4       0.09     test_9
...      ...        ...
1957    0.72  test_2932
1958    0.72  test_2934
1959    0.07  test_2936
1960    0.72  test_2937
1961    0.70  test_2940

[1962 rows x 2 columns]

In [ ]:
result=result[['ID','target']]

In [ ]:
result.to_csv('Submission1.csv', index = False)